extends layout

block content
  article.about
    section.rebecca__portrait
      img(src="./images/rebecca.jpg", alt="Portrait of Rebecca Collins")
    section.about__rebecca
      .about__text
        p.title__text 
          | Hello, 
          span I'm Rebecca
        p.subtitle__text I specialize in sexual issues and dysfunctions, intimacy and relationship issues, women's issues, physical, sexual, and emotional abuse, life       transitions, and the impacts of trauma. I view the therapeutic relationship with clients as a collaborative partnership and my goal is to create a               supportive environment of trust and acceptance.
    


    //- .about__text
    //-     h5 Degree: 
    //-     p.no__text__wrap Bachelor in Women's Studies, Ohio University  
    //-     p.no__text__wrap 2004 Master of Social Work, Clinical, Ohio University 2006
    //-   .about__text
    //-     h5 License:
    //-     p.no__text__wrap Licensed Independent Social Worker  -  CSWMFT Board
    //-     p.no__text__wrap Ohio Counselor, Social Worker, and Marriage and Family Therapist Board
    //-   .about__text
    //-     h5 Certifications:
    //-     p.no__text__wrap Certified Sex Therapist - AASECT
    //-     p.no__text__wrap American Association of Sexuality Educators, Counselors, and Therapists
    //-   .about__text 
    //-     h5 Specialized Training:
    //-     p.no__text__wrap EMDR Therapist - Eye Movement Desensitization and Reprocessing Parts 1 & 2