extends layout

block content
  .howItWorks
    p.title__text What is Sex Therapy?
    p Sex therapy is no different than the process of any psychotherapy treatment.  We will explore the sexual issues you are experiencing alone or in your relationship, and define possible barriers, inhibitions, and challenges to sexuality.  We will discuss ways we can work together toward helpful resolutions and desired outcomes.  My goal is to help you have a deeper understanding of yourself and to build resiliency through this process.
    p.title__text What will we Discuss?
    ul
      li How you define the problem
      li Life stressors and circumstances
      li Your relationship history (current and past)
      li Physiological issues
      li Trauma or Abuse 
      li Your sexual history
      li Your family history
      li Your goals, hopes and desires in therapy
    p.title__text WHAT ARE THE BENEFITS OF SEX THERAPY?
    ul
      li Improving communication, satisfaction and sexual intimacy with your partner
      li Discovering or re-discovering your way back to feeling connected
      li Finding your voice in the bedroom
      li Deepening the connection with your partner
      li Feeling safe in your sexual relationship
      li Learning to value your sexual authenticity
    

