extends layout

block content
  article.howItWorks
    h1.title__text How Sex Therapy Works
    p Sex Therapy is no different than the process of any psychotherapy treatment.  There is never touch or nudity involved in sex therapy.  We will talk about the issues you are experiencing and will work together toward helpful resolutions and desired outcomes.
    p.title__text Some of the approaches to this may include:
    p Examining your sexual history and finding possible barriers, inhibitions, and challenges to sexuality
    p Past Trauma
    p Physiological issues 
    p Life Changes
    p Relationship problems
    section.text__with__image
      p.title__text Learning to talk about sex and effectively express yourself with your partner
      .intwined__image
        img(src="./images/intwined.png", alt="two humanoid figures intwined")
    p How to talk about sex
    p How you wish you could talk about sex
    p How to effectively express your feelings and needs in sexual dialogue
    p.title__text Exploring your thoughts and feelings about sex 
    p Your fantasies
    P What sex means to you
    p What sex and love mean to you
    p How spirituality, family,  and culture can impact our attitudes and expressions of sex

