extends layout

block content
  article.about
    section.rebecca__portrait
      img(src="./images/rebecca.jpg", alt="Portrait of Rebecca Collins")
    section.about__rebecca
      .about__text
        p.title__text 
          | Hello, 
          span I'm Rebecca
        p.subtitle__text Rebecca is a Licensed Independent Social Worker (LISW) with a clinical focus, and is an American Association of Sexuality Educators, Counselors, and Therapists (AASECT) Certified Sex Therapist. Rebecca is trained in Eye Movement Desensitization and Reprocessing (EMDR) Therapy and uses it frequently in her practice. Rebecca completed her undergraduate and graduate work at Ohio University with a bachelor's degree in Women's Studies (2004), and a Master in Social Work (2006).  Additionally, she completed the University of Michigan Sexual Health Certificate Program in 2014.
  section.mermaid__container
    img(src="./images/mermaid.jpg", alt="")
    

    