extends layout

block content
  article.about
    section.rebecca__portrait
      img(src="./images/rebecca.jpg", alt="Portrait of Rebecca Collins")
    section.about__rebecca
      .about__text
        p.title__text 
          | Hello, 
          span I'm Rebecca
        p.subtitle__text I specialize in sexual issues and dysfunctions, intimacy and relationship issues, women's issues, physical, sexual, and emotional abuse, life       transitions, and the impacts of trauma. I view the therapeutic relationship with clients as a collaborative partnership and my goal is to create a               supportive environment of trust and acceptance. I practice an insight-oriented and psychodynamic approach, meaning that the past informs the present and can     create unconscious patterns of thought and behavior. Once we have awareness of how our experiences impact our lives, healing can begin.
    

    