extends layout

block content 
  article.appointmentInfo
    p.title__text Appointment Info
    p Appointments are approximately 50-55 minutes in length.
    br
    p CALL 614-649-3991 to make an appointment or if you would  like to speak with me before making an appointment.  I offer a free 15 minute phone consult.
    br
    p 
      |Email me at 
      a(href="mailto:collinsr.therapy@gmail.com") collinsr.therapy@gmail.com
      |  to make an appointment NOTE:  My email is not encrypted.  It is best not to leave too much information via email.  I will be happy to speak with you by phone.
    section.payment
      img.imageFloatRight(src="./images/waterfall.jpg", alt="")
      p.title__text Payment
      p.subtitle__Text My fees:
      p $150 for the first session.
      p $125 for the following sessions.
      p.title__text Methods of payment:
      p Cash, Check, Visa, Mastercard, American Express, Health saving card.
    section.insurance
      p.title__text Insurance
      p.subtitle__text I am a provider for the following insurance plans:
      ul
        li Anthem/Blue Cross Blue Shield
        li Aetna
        li Caresource (Medicaid and Marketplace)
        li Cigna
        li Medical Mutual
        li Ohio Healthy
        li Out of Network
      p
        strong.subtitle__text A note about insurance: 
        | While I am a provider for these insurance plans, each plan is different and I strongly encourage
        | clients to call their insurance company to confirm coverage and understand the specifics of their plan
        | such as their deductable and copay.



