extends layout

block content
  article.areas-of-treatment
    p In my general practice I work with depression, anxiety, grief and loss, life changes, PTSD, self esteem issues, and emotional, mental, physical, and sexual abuse. In addition, I have specialized training in the following:
    p.title__text Sex Therapy
    p.subtitle__text I am an AASECT certified Sex therapist and work with individuals and couples in areas with a wide range of issues.  Many times a sexual functioning issue is rooted in relationship problems.  Sex is a complex subject and there can be physiological, environmental or emotional elements that can contribute to the problem.
    p.title__text Relationship Challenges
    p.subtite__text As a certified sex therapist, I often treat issues related to the relationship with a partner.  Some of the areas include poor communication and not feeling connected.  I work with heterosexual and gay couples in improving how they function together, becoming comfortable with communication and expression, and building connectedness and intimacy.
    p.title__text Trauma
    p.subtitle__text There is a broad range of issues that are traumatic.  Most of these issues and the symptoms that they create are treatable.  I often use EMDR (Eye Movement Desensitization and Processing) in my work to treat trauma symptoms along with Cognitive Behavioral and Mindfulness techniques.

