extends layout

include mixins/_contactForm.pug
include mixins/_forms.pug

block content
  if locals.flashes
   section.flash__messages
    -const categories = Object.keys(locals.flashes)
    each category in categories
      each message in flashes[category]
        .flash(class=`flash__${category}`)
          p #{ message }
          button.flash__remove(onClick="this.parentElement.remove()") &times;
  section.contact
    .contact__info 
      .contact__text
        p.title__text 
          span Rebecca Collins,
          | LISW
        p.subtitle__text
          span
            svg(width="22px", height="22px")
                use(xlink:href="./images/icons/phone.svg#phone")
          |614 - 725 - 1165
        .hours
          p.subtitle__text
            span
              svg(width="22px", height="22px")
                use(xlink:href="./images/icons/clock.svg#clock") 
            | 11:00am - 6:00pm Monday - Thursday       
    +contactForm()
  +forms