extends layout

//- this is the default 404 error page. It has no styling. 
//- The function that handles this is the notFound function and can be found in handlers/errorHandlers.js

block content
  section.error__page
    h2 #{ message }