extends layout

block content
  sections.forms
    .form__instructions
       p Please complete the following forms prior to your first visit. You may either print them off, fill them out and bring them with you. Or you can email them to me at 
       span 
        a(href="mailto:acollinsr.therapy@gmail.com") acollinsr.therapy@gmail.com
    .form__download__buttons 
      ul
        li
          a.button(href="./forms/client_information.docx") Client Information (docx)
        li
          a.button(href="./forms/client_form.docx") Consent for Treatment (docx)
        li
          a.button(href="./forms/payment_agreement.docx") Payment Agreement (docx)
        