extends layout

block content
  article.about
    section.rebecca__portrait
      img(src="./images/rebecca.jpg", alt="Portrait of Rebecca Collins")
    section.about__rebecca
      .about__text
        p.title__text 
          | Hello, 
          span I'm Rebecca
        p.subtitle__text Welcome!  The decision to begin therapy is usually a carefully considered one and is followed up with a commitment to work through the challenges, feelings and behaviors that are not congruent with the life you want to live.  I am interested in helping you explore and define the issues and difficult patterns in your life.  Then we begin to build resilience and move toward positive and healthy changes. I look forward to speaking with you about your decision to begin therapy. 

    

    