<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Rebecca Collins, LISW
    link(rel="stylesheet", href="./css/styles.css")

  body
    nav.navigation(class=bg__imageClass)

      .navigation__top__bar

        .navigation__logo
          a(href="/")
            img(src="./images/spiral.jpg", alt="spiral mosaic art work")

        .navigation__menu
          ul
            li
              a(href="/aboutPage") about me
            li
              a(href="/services") services
            li
              a(href="/location") location
            li
              a(href="/formDownloads") forms
            li
              a.button(href="/contactMe") contact me
        a.open__button(href="#")
          img(src="./images/icons/open_icon.svg", alt="")
  
      section.name
        if title
          h1 #{ title }
        else
          img(src=titleIcon, alt="")

    nav.mobile__navigation
      .mobile__menu
        a.close__button(href="#") &times;
        a(href="/aboutPage") about me
        a(href="/services") services
        a(href="/location") location
        a(href="/formDownloads") forms
        a.mobile__button(href="/contactMe") contact me
      
    section.main__content
      block content

    block scripts
      script(src="./js/main.js")
      script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=makeMap`)