extends layout

block content 
  sections.services
    .rates__container
      .rates
        p.title__text Rates
        p.subtitle__text I charge $125 per session, and I accept Cash, Check, Health Savings Account, Mastercard, and Visa.
    .insurance__container
      .insurance
        p.title__text Insurance
        p.subtitle__text I also accept the following insurance plans:
        .text__column
          ul
            li Anthem
            li BlueCross and BlueShield
            li CareSource
            li Cigna
        .text__column
          ul
            li Medical Mutual
            li OhioHealthy
            li Out of network
            li Aetna
    .specialities__container
      .specialities  
        p.title__text Specialities
        .text__column
          ul
            li Sex therapy 
            li Relationship therapy
            li Trauma and PTSD
    .issues__container
      .issues
        p.title__text Issues
        .text__column
          ul
            li Bipolar Disorder
            li Career Counseling
            li Coping Skills
            li Depression
            li Divorce
            li Domestic Violence
            li Family Conflict
            li Grief
        .text__column
          ul
            li Infertility
            li Infidelity
            li Life Coaching
            li Relationship Issues
            li Self Esteem
            li Sexual Abuse
            li Women's Issues
    .mental__health__container
      .mental__health
        p.title__text Mental Health
        .text__column
          ul
            li Dissociative Disorders
            li Mood Disorders
    .sexuality__container
      .sexuality
        p.title__text Sexuality
        .text__column
          ul
            li Bisexual
            li Gay
            li Lesbian
