extends layout

block content
  article.treatmentApproach
    p.title__text Treatment Approach
      p My approach to therapy is supportive, interactive, and client centered with the use of mindfulness and cognitive behavioral treatment techniques.  My work is informed by Psychodynamic Theory which posits that the present is informed by the past, and until we explore, acknowledge, and accept our past and present with resilience, we may encounter barriers to moving forward.  I welcome new clients to take this journey, with me as your guide, to new ways of functioning and a deeper level of understanding yourself.
      p.title__Text Qualifications
      p I am a Licensed Independent Social Worker / Supervisor (LISW-S) with a clinical focus, and am a Certified Sex Therapist with the American Association of Sex Educators, Counselors and Therapists (AASECT).  I am also trained in Eye Movement Desensitization and Reprocessing (EMDR).
    section.credentials    
      h2 BSS in Women's Studies 
        span - Ohio University 2004
      h2 MSW 
        span - Ohio University 2006
      h2 Sexual Health Certificate Program
        span - University of Michigan 2014