@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab");

:root {
  --aqua: #6bbaa7;
  --button-color: #9191e9;
  --granny-smith-apple: #9ee493;
  --lavender: #6c648b;
  --eagle-green: #084c61;
  --lavender-pink: #f7accf;
  --jelly-bean: #db504a;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  background-color: var(--lavender);
  overflow-x: hidden;
}

p {
  line-height: 2;
  font-size: 1.8rem;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Josefin Slab", serif;
}

/* ************ some text styling *************** */

.title__text {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

.subtitle__text {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* ******************* Navigation styling ***************************** */

.navigation {
  width: 100%;
  position: relative;
  height: 550px;
}

/* ********************** Various hero images for each page/route ********************************* */

.navigation__bg1 {
  background: url("../images/concentric_plant.jpeg") center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
}

.navigation__bg2 {
  background: url("../images/fern.jpeg") center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
}

.navigation__bg3 {
  background: url("../images/succulent.jpg") center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
}

.navigation__bg4 {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url("../images/crossroads.jpeg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/crossroads.jpeg") center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
}

.navigation__bg5 {
  background: url("../images/tree_path.jpeg") center center;
  background-size: cover;
  height: 520px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
}

.navigation__top__bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.navigation__logo a img {
  width: 100px;
  border: 1px solid #fff;
}

.navigation__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation__menu ul li {
  list-style: none;
}

.navigation__menu ul li a {
  color: #fff;
  font-size: 2rem;
  margin: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.navigation__menu ul li a:not(.button):hover {
  color: #ddd;
}

.mobile__navigation {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--eagle-green);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

.mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 70px;
  position: relative;
}

.mobile__menu a {
  padding: 15px;
  color: #fff;
  font-size: 2rem;
  margin-top: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.mobile__menu a:hover {
  color: #ddd;
}

.open__button {
  position: absolute;
  top: 25px;
  right: 25px;
  display: none;
}

.open__button img {
  height: 32px;
  width: 32px;
}
.mobile__menu .close__button {
  position: absolute;
  font-size: 5rem;
  font-weight: 400;
  top: 0;
  left: 70%;
}

.name {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.name h1 {
  font-size: 7rem;
  color: white;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.name img {
  color: #fff;
}

/* ******************** button styling ************************************* */

.button {
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: var(--button-color);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.button:hover {
  background-color: #9797e9;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.mobile__button {
  display: inline-block;
  margin: auto;
  padding: 10px;
  background-color: var(--aqua);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* ******************* main content styling for area below hero image and navigation ******************************* */

.main__content {
  width: 100%;
}

/* ****************** home page styling ******************** */

.quote {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 100px auto;
  background-image: url(/images/icons/quotes.svg);
  background-position: center center;
  background-size: 300px 300px;
  background-repeat: no-repeat;
}

.quote p {
  max-width: 40em;
  color: #fff;
  font-size: 1.8rem;
}

.quote span {
  color: #fff;
  font-size: 2rem;
}

/* ******************** about page styling ***************************** */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 20px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.rebecca__portrait {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 600px;
}

.rebecca__portrait img {
  width: 100%;
}

.about__rebecca {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.about__text {
  color: #fff;
  margin: 0 2rem;
}

.about__text span {
  color: var(--lavender-pink);
}

/* ********************* location page styling ************************** */

.location {
  width: 100%;
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.office__picture {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  width: 300px;
}

.office__picture > img {
  width: 100%;
}

.location__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.location__details > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 22%;
  flex: 1 0 22%;
  color: #fff;
  margin: 0 2rem;
}

.location__details > div > p > span {
  margin-right: 10px;
}

.location__map {
  margin-bottom: 100px;
}

.contact__details > .button {
  margin-top: 30px;
}

#map {
  height: 400px;
  overflow: visible;
  margin-bottom: 10px;
}

.location__map > .button {
  margin-left: 2rem;
}

/* ******************** contact from styling ************************* */

.contact {
  width: 100%;
  padding: 100px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact__info {
  white-space: nowrap;
  margin-bottom: 50px;
}

.contact__form {
  max-width: 645px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 645px;
  flex: 1 1 645px;
  border-radius: 4px;
  -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contact__info > p > span {
  color: var(--lavender-pink);
  margin-right: 10px;
}

.contact__info > .hours {
  margin-top: 1rem;
}

.contact__info > .hours > p > span{ 
  margin-right: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 18px 20px 24px;
}

form > label {
  font-size: 1.8rem;
  color: #424770;
  padding: 5px 0;
}
form > input {
  border: 1px solid rgb(136, 152, 170);
  border-radius: 4px;
  margin: 5px 0;
  padding: 5px 20px 8px 13px;
  max-width: 600px;
  font-size: 1.8rem;
}

form > textarea {
  min-height: 140px;
  padding: 7px 20px 7px 13px;
  border-radius: 4px;
  font-size: 1.8rem;
  border: 1px solid rgb(174, 187, 201);
}

input::-webkit-input-placeholder {
  color: rgb(165, 173, 182);
}

input:-ms-input-placeholder {
  color: rgb(165, 173, 182);
}

input::placeholder {
  color: rgb(165, 173, 182);
}

.send__button {
  text-align: right;
  margin-top: 20px;
}

/* ******************* forms donwload page styling ************************* */

.forms {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__instructions {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 60%;
  max-width: 60%;
}

.form__instructions > span {
  color: var(--lavender-pink);
  font-size: 2rem;
}

.form__download__buttons {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  text-align: center;
  max-width: 400px;
}

.form__download__buttons > ul {
  padding: 0;
}

.form__download__buttons > ul > li > a {
  margin: 10px;
  max-width: 350px;
  width: 340px;
}

/* ***************** animations *************************** */

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

    @-webkit-keyframes fa;

    @keyframes fa;
  }
}
de-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ****************** responsive stuff ******************************* */

@media (max-width: 1024px) {
  .navigation__menu {
    display: none;
  }

  .open__button {
    display: block;
  }

  .name h1 {
    font-size: 5rem;
  }

  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .office__picture {
    width: 90%;
    margin-bottom: 50px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact__form {
    width: 90%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
  }

  /* this is for the form donload page. not the actualy CONTACT FROM */
  .forms {
    flex-direction: column;
    align-items: center;
  }

  .form__instructions {
    width: 90%;
    max-width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 568px) {
  .name h1 {
    font-size: 4rem;
  }

  .location__details {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .location__details > div {
    margin: 10px;
  }
}

@media (max-width: 414px) {
  .name h1 {
    font-size: 3rem;
  }
}
