mixin contactForm()

  //- if locals.flashes
  //-  section.flash__messages
  //-   -const categories = Object.keys(locals.flashes)
  //-   each category in categories
  //-     each message in flashes[category]
  //-       .flash(class=`flash__${categry}`)
  //-         p #{ message }
  //-         button.flash__remove(onClick="this.parentElement.remove()") &times;

  section.contact__form
    form(action="/sendMail" method="POST")
      label(for="firstName") Your first name
      input(type="text" placeholder="Jane" name="firstName" required)
      label(for="lastName") Your last name
      input(type="text" placeholder="Doe" name="lastName" required)
      label(for="email") Your email
      input(type="email" placeholder="Jane.Doe@example.com" name="email" required)
      label(for="message") Your message
      textarea(type="text" name="msg" required)
      .send__button
        input(type="submit" value="Send your message" class="button")