mixin forms()

  sections.forms
    .form__instructions
       p Please complete the following forms prior to your first visit. You may either complete them and bring them with you to our appointment or you can email them to me at
       span 
        a(href="mailto:collinsr.therapy@gmail.com") collinsr.therapy@gmail.com
    .form__download__buttons 
      ul
        li
          a.button(href="./forms/client_information.docx") Client Information
        li
          a.button(href="./forms/consent_form.docx") Consent for Treatment 
        li
          a.button(href="./forms/payment_agreement.docx") Payment Agreement
        