mixin forms()

  sections.forms
    .form__instructions
       p Please download and complete the following forms and email them to me a couple of days before our first session along with a copy of your insurance card (front and back) if you want me to bill your insurance.
       span 
        a(href="mailto:collinsr.therapy@gmail.com") collinsr.therapy@gmail.com
    .form__download__buttons 
      ul
        li
          a.button(target="_blank", href="./forms/client_information.pdf") Client Information
        li
          a.button(target="_blank", href="./forms/consent_form.pdf") Consent for Treatment 
        li 
          a.button(target="_blank", href="./forms/telemental_health_consent.pdf") Telemental Health Consent
        //- li
        //-   a.button(target="_blank", href="./forms/payment_agreement.pdf") Payment Agreement
        li 
          a.button(target="_blank", href="./forms/HIPPA_NPP.pdf") HIPPA Agreement